In [1]:
class Myclass: # NON parameterized constructor
  def __init__(self):  #special method, will be called when the obj is created
    self.name = "Ram"
    self.age = 22

  def display(self):
    print("Name:", self.name)
    print("Age:", self.age)


obj1 = Myclass()
obj2 = Myclass()
obj3 = Myclass()

obj1.display()
obj2.display()
obj3.display()

Name: Ram
Age: 22
Name: Ram
Age: 22
Name: Ram
Age: 22

In [2]:
class Myclass:    #parameterized conscructor
  def __init__(self, name, age):  #special method, will be called when the obj is created
    self.name = name
    self.age = age

  def display(self):
    print("Name:", self.name)
    print("Age:", self.age)

obj1 = Myclass("Shiva", 22)
obj2 = Myclass("John", 21)
obj3 = Myclass("Geetha", 23)

obj1.display()
obj2.display()
obj3.display()

Name: Shiva
Age: 22
Name: John
Age: 21
Name: Geetha
Age: 23

In [9]:
class Myclass:               # Default constructor
  def __init__(self, na="Default Name", ag=100):  #special method, will be called when the obj is created
    self.name = na
    self.age = ag

  def display(self):
    print("Name:", self.name)
    print("Age:", self.age)


obj1 = Myclass()
obj2 = Myclass("John", 21)
obj3 = Myclass("Geetha", 23)
obj4 = Myclass()

obj1.display()
obj2.display()
obj3.display()
obj4,display()

Name: Default Name
Age: 100
Name: John
Age: 21
Name: Geetha
Age: 23

(<__main__.Myclass at 0x7d6ba3266a10>, None)

In [11]:
class Circle:
  def __init__(self,rad,res):
    self.rad=rad
    self.res=res

  def area_cir(self):
    self.res= 3.14 * self.rad * self.rad
    print("Area of circle:", self.res)

  def perimeter_cir(self):
    self.res= 2 * 3.14 * self.rad
    print("Perimeter of circle:", self.res)


cir1=Circle(3,0)
cir2=Circle(5,0)
cir3=Circle(6,0)

cir1.area_cir()
cir1.perimeter_cir()
cir2.area_cir()
cir2.perimeter_cir()
cir3.area_cir()
cir3.perimeter_cir()

Area of circle: 28.259999999999998
Perimeter of circle: 18.84
Area of circle: 78.5
Perimeter of circle: 31.400000000000002
Area of circle: 113.03999999999999
Perimeter of circle: 37.68

In [13]:
class Student:
  collegename = "KVS"
  def __init__(self,name , rollno,age):
    self.name = name
    self.rollno = rollno
    self.age = age

  def display(self):
    print("Name:", self.name)
    print("Rollno:", self.rollno)
    print("Age:", self.age)
    print(Student.collegename)

s1= Student("Rahul",100,21)
s2= Student("Naga",101,20)
s1.name = "Raj"
s2.age= 23
Student.collegename = "ABC"
print(s1.collegename)

s1.display()
s2.display()

Name: Raj
Rollno: 100
Age: 21
ABC
Name: Naga
Rollno: 101
Age: 23
ABC

In [15]:
#built in class functions

class Emp:
  def __int__(self,name,age,sal):
    self.name = name
    self.age = age
    self.sal = sal

e1 = Emp("Naga",23,20000)
e2 = Emp("Geetha",20,30000)

k = getattr(e1,"age")
print(k)

setattr(e2,'name','Kavin')
print(e2.name)

delattr(e2,'age')
print(e2.age)

print(hasattr(e2,'age'))

TypeError: Emp() takes no arguments

In [16]:
#built in class attributes

class Emp:
  '''this is an example of emp class'''
  def __int__(self,name,age,sal):
    self.name = name
    self.age = age
    self.sal = sal

e1 = Emp("Naga",23,20000)
e2 = Emp("Geetha",20,30000)

print(Emp.__doc__)
print(Emp.__name__)
print(Emp.__module__)
print(Emp.__dict__)

print(e1.__dict__)

TypeError: Emp() takes no arguments